* {
    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: 0;
    color:#808080;
}

body {
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: flex-end;
    height: 60px;
}
nav ul, nav li {
    list-style: none;
    padding: 0px;
    margin: 0;
}
nav ul {
    display: flex;
}
.menu {
    display: flex;
    /* flex-direction: row; */ 
    align-items: center;
}
nav a {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px;
    text-decoration: none;
    color: rgb(95, 95, 95);
}
nav a:hover {
    text-decoration: underline;
}

nav ul img {
    color: rgb(95, 95, 95);
    width: 20px;
    height: 20px;
}
#login  {
    text-align: center;
    position:relative;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    color: rgb(255, 254, 254);
    border-radius: 5px;
    text-decoration: none;
    width: 110px;
    height: 20px;
    padding: 7px;
}
/*meio da pagina, logo e pesquisa*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

/*icones do centro da tela*/
.lupa {
    width: 19px;
    height: 19px;
    margin-right: 15px;
}
.keyboard {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.microfone {
    width: 25px;
    height: 25px;
    margin: 0;
}
.lens {
    width: 25px;
    height: 25px;
    margin: 0;
}

/*botoes de pesquisa e sorte*/
.search {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.search img {
    display: flex;
    justify-content: center;
    padding: 10px;
}
#pesq {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1em;
    width: 430px;
    height: 38px;
}
#botoes {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.pesquisa_google, .minha_sorte {
    padding: 10px;
    border-color:rgb(190, 190, 190);
}
#botoes a {
    text-decoration: none;
    color:black;
    padding: 10px;
    position: relative;
}
#botoes a:hover {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 6px;
}
/*rodape*/
.links {
    display: flex;
    justify-content: space-between;
    padding: 10px 13px 0px 13px;
}
.rodape1 {
    display: flex;
    justify-content: center;
}
.rodape2 {
    display: flex;
    justify-content: center;
}
.rodape1 p,
.rodape2 p {
    padding: 15px;
}
/*brasil*/
.br{
    height: 280px;
}
.brazil {
    margin-top: 250px;
    padding: 15px;
    width: 50px;
}
.br a:hover {
    text-decoration: underline;
}

footer a:hover {
    text-decoration: underline;
}
.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
/*media*/

@media (max-width:1440px) {
    .br {
        height: 200px;
    }
    .brazil {
        margin-top: 150px;
    }
}
@media (max-width: 769px) {
    *{
        font-size: 12px;
    }
    #login  {
        width: 80px;
        height: 17px;
        padding: 7px;
    }

}
@media (max-width:600px) { 
    footer {
        flex-direction: column;
    }
}
@media (max-width:350px) {
    footer {
        flex-direction: column;
    }
    menu {
        padding: 5px;
        margin: 0;
    }
}
@media (max-width:350px) {
    * {
        font-size: 10px;
    }

 }
